mat-card {
  padding: 20px, 20px;
  min-width: 370px;
  min-height: 130px;
  transition: 0.3s;
}

app-perfomance-record {
  width: 90vw;
  min-width: 600px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#addBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.avatar {
  float: left;
  margin-right: 20px;
  max-width: 100px;
  border-radius: 25%;
}
