<div class="flex" *ngIf="!this.loadingER; else elseLoading">
<mat-card>
  <mat-card-title>Average Social Perfomance:</mat-card-title>
<app-social-table *ngIf="!this.loadingER" [socialPerformances]="this.socialAverageData"></app-social-table>
</mat-card>
<mat-card>
  <mat-card-title>Top Salesmen:</mat-card-title>
  <ul *ngIf="!this.loadingER && !this.loadingSM">
    <li *ngFor="let sm of this.getTopSalesman();  let i = index">
     {{(i+1)}}: {{sm.fullName}}, {{sm.year}}, Bonus: {{sm.totalBonus}}
    </li>
  </ul>
 </mat-card>
 <mat-card >
  <mat-card-title>Total Sales:</mat-card-title>
  <h4 *ngIf="!this.loadingER">HooverClean: {{getSales(null)?.HooverClean}}</h4>
  <h4 *ngIf="!this.loadingER">HooverGo: {{getSales(null)?.HooverGo}}</h4>
</mat-card>

</div>

<ng-template #elseLoading>
  <mat-spinner></mat-spinner>
</ng-template>
