<div class="flex-row">
  <button mat-button [routerLink]="''"><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon></button>

<div *ngIf="!this.loadingSaleman">
<mat-card>
  <img class="avatar" src="{{salesman.imgUrl}}">
  <mat-card-title>

    {{salesman.fullName}}
  </mat-card-title>
  <mat-card-subtitle>{{salesman.jobTitle}}</mat-card-subtitle>
  <mat-card-content>
    <p>EmployeeId: {{salesman.employeeId}}</p>
    <p>Department: {{salesman.department}}</p>
  </mat-card-content>
</mat-card>
</div>
  <div id="records">
    <mat-accordion>
    <app-perfomance-record *ngFor="let r of this.er" [record]="r">
    </app-perfomance-record>
  </mat-accordion>
  </div>
</div>

<app-dialog-add-record (dialogResult)="addEvaluationRecord($event)" id="addBtn"></app-dialog-add-record>
<!--
  <button id="addBtn" mat-fab  aria-label="Example icon button with a bookmark icon">
    <mat-icon>addchart</mat-icon>
-->
