
<!--<div fxLayoutAlign="center center" fxFlexFill>-->
<div class="container">
    <mat-card class="card">
    <mat-card-title>Login</mat-card-title>

      <mat-card-content>
      <form class="flex">
      <mat-form-field >
        <input matInput name="userEmail" placeholder="User Id" id="inputEmail" [(ngModel)]="userEmail">
      </mat-form-field>
      <mat-form-field >
        <input matInput name="userPassword" type="password" placeholder="Password" id="inputPassword" [(ngModel)]="userPassword">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button type="submit" (click)="login()">Login</button>
  </mat-card-actions>

  </mat-card>

</div>

