
<div class="container mat-elevation-z1">
  <table mat-table [dataSource]="socialPerformances">
    <!-- ClientName Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Skill</th>
      <td mat-cell *matCellDef="let rating"> {{rating.goalDescription}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
    <!-- ClientRating Column -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let rating"> {{rating.targetValue}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
     <!-- items Column -->
     <ng-container matColumnDef="actual">
      <th mat-header-cell *matHeaderCellDef>Items</th>
      <td mat-cell *matCellDef="let rating"> {{rating.actualValue}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- bonus Column -->
    <ng-container matColumnDef="bonus">
      <th mat-header-cell *matHeaderCellDef> Bonus </th>
      <td mat-cell *matCellDef="let rating"> {{rating.bonus | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>

       <!-- bonus Column -->
       <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef> remarks </th>
        <td mat-cell *matCellDef="let rating"> {{rating.remarks }} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>
