<div id="container"><mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
       Perfomance Record
    </mat-panel-title>
    <mat-panel-description>
      <div class="headline">
        <p>{{record.year}}</p>

    </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="headline"><div>Status: {{record.status}}</div></div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Orders Evaluation:
     </mat-panel-title>
     <mat-panel-description>
        Bonus A: {{this.record.totalBonusA | currency}}
       </mat-panel-description>
    </mat-expansion-panel-header>
    <!--
    <div class="headline"><div>Status: {{record.status}}</div>
    <app-dialog-edit-social></app-dialog-edit-social>
    </div>
     -->

    <div class="orderBox">
    <div *ngIf="record.sales.HooverClean">
      <h3>HooverClean:</h3>
      <app-sales-table class="table" [transactions]="record.sales.HooverClean"></app-sales-table>
    </div>
    <div *ngIf="record.sales.HooverGo">
      <h3>HooverGo:</h3>
      <app-sales-table class="table" [transactions]="record.sales.HooverGo"></app-sales-table>
    </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Social Performance:
     </mat-panel-title>
     <mat-panel-description>
        Bonus B: {{this.record.totalBonusB || 0 | currency}}
       </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="headline"><div>Status: {{record.status}}</div>
    <app-dialog-edit-social [ratings]="record.socialPerformances" (dialogResult)="updateSocialRating($event)" ></app-dialog-edit-social>
    </div>
    <app-social-table *ngIf="record.socialPerformances[0]; else elseBlock " [socialPerformances]="record.socialPerformances"></app-social-table>
    <ng-template #elseBlock>No Social Perfomance Evaluation found</ng-template>

</mat-expansion-panel>

<div class="headline">
<form class="remarksform">
  <mat-form-field class="full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea [(ngModel)]="record.remarks" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
<h3>
Total Bonus: {{this.record.totalBonusA + (this.record.totalBonusB || 0) | currency}}
</h3>
</div>


<button (click)="updateRecordToDB()" mat-flat-button color="primary" aria-label="edit">
  <mat-icon>save</mat-icon>Save
</button>
 <button mat-flat-button color="accent" aria-label="edit">
  <mat-icon>send</mat-icon>Release
</button>


</mat-expansion-panel>
</div>

